body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

nav {
    color: black;
    text-decoration: none;
    display:flex;
    flex-direction: column;
    margin;
    width: ;
}

#company {
    padding-bottom: 5px;
    color: black;
}

nav a {
    color: #69696a;
    text-decoration: none;
    display:flex;
    flex-direction: column;
    padding-bottom: 5px;
}

button {
    background-color: black;
    color: white;
    flex: center;
    border-radius: 50px;
    
}

section {
    display:flex;
    flex-direction: column;
}

p {
    color: #69696a;
    border-left: solid #69696a 3px;
    padding-left: 10px;
}
